body{
    background-color: #D0E1F9;
    font-family: 'Lexend Deca', sans-serif;
}
#innergrid, bdsc, home, aboutme, culture, gallery, main, about, hobbies, picture, strengths, contact{
    border: 1px solid black
}
#innergrid{
    grid-area: logo;
    border: 1px solid black;
}
#innergrid{
    display: grid;
    grid-template-areas: "bdsc home aboutme gallery culture contact";
}
#bdsc{
    grid-area: bdsc;
    border: 1px solid black;
    text-align: center;
}
#home{
    grid-area: home;
    border: 1px solid black;
    text-align: center;
}
#aboutme{
    grid-area: aboutme;
    border: 1px solid black;
    text-align: center;
}
#culture{
    grid-area: culture;
    border: 1px solid black;
    text-align: center;
}   
#gallery{
    grid-area: gallery;
    border: 1px solid black;
    text-align: center;
}
#contact{
    grid-area: contact;
    border: 1px solid black;
    text-align: center;
}
#main{
    grid-area: main;
    display: grid;
    grid-template-areas: "picture about hobbies strengths";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px
}
#picture{
    grid-area: picture;
    border: 1.5px solid black;
    text-align: center;
}
#hobbies{
    grid-area: hobbies;
    border: 1.5px solid black;
    text-align: center;
}
#about{
    grid-area: about;
    border: 1.5px solid black;
    text-align: center;
}
#strengths{
    grid-area: strengths;
    border: 1.5px solid black;
    text-align: center;
}